<div class="row">
<div class="large-3 columns"><br />
  </div>
  <div class="large-6 columns">

  <%= link_to("Delete", house_path(@house), method: :delete) %>
  </div>
  <div class="large-3 columns"><br /></div>
</div>