.top-logo {
  text-align: center;
  font-size: 18px;
}

.top-logo a {
  color: #B0B0B0;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.top-logo a:hover {
  color:#F0F0F0;
  text-align: center;
  font-size: 18px;
}

.logout {
  background-color: #333333;
}

.logout:hover {
  background-color: #333333;
}

.menu {
  display:block;
}

.menu > div {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 250px;
  height:100%;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
}

.menu .menu-left {
  position: fixed;
  background: #333333;
  left: -250px;
}

.menu .menu-left.menu-visible {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.menu .menu-item {
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border-bottom: solid 1px #555;
  cursor: pointer;
  color: #B0B0B0;
}

.menu .menu-item:hover {
  color:#F0F0F0;
}

.menu-button {
  background: #333333;
}

.menu-button:hover {
  background: #333333;
  color:#F0F0F0;
}

#fridge-title {
  color: #C0C0C0;
  font-style: italic;
  font-size: 0.8em;
}

#fridge-author {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 1.0em;
}

#fridge {
  margin-top: 1em;
}

.fridge-today {
    text-align: center;
    position: relative;
    margin-bottom: 1em;
}
.today {
    display: inline-block;
}
.today:before,
.today:after {
    border-top: 1px solid black;
    display: block;
    height: 1px;
    content: " ";
    width: 40%;
    position: absolute;
    left: 0;
    top: 1.2em;
}
.today:after {
   right: 0;
   left: auto;
}
