   <h4>New Chore</h4>
  <%= form_for :chore, url: house_chores_path(@house) do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task, :class => "chore_fields" %><br><br>
  <%= f.submit "Add Chore", :class => "button radius" %>
  <% end %>