<div class="row">
  <div class="large-3 columns"><br />
  </div>
    <% if @chores.empty? %>
        <% @zip = Address.find_by(addressable_id: @house.id, addressable_type: "House").zip_code %>
        <h3 class="header-empty">You don't have a chore chart.<br>
        <%= link_to "Would you rather hire a cleaning service?", "http://lmgtfy.com/?q=cleaning+services+near+#{@zip}" %></h3>
    <% else %>
    <div id="chore_title"><h4>Chores</h4></div>

  <div id="chore_list" >

    <%= render @chores %>

      <% end %>

      <div id="chore_form">
        <%= render 'chores/form' %>
      </div>
      <div class="large-3 columns"><br /></div>
    </div>
