<div class="row">
  <div class="small-6 large-2 columns"><br></div>
  <div class="small-6 large-8 columns">
    
      <h4>Rules:</h4>
      <div id="rule_list">
        <% if @rules != nil %>
        <%= render @rules %>
        <%end%>
      </div>
    <%= render 'rules/form' %>


  </div>
  <div class="small-12 large-2 columns"><br></div>
</div>






